services:
  # VK Connector service
  vk-connector:
    build:
      context: .
      dockerfile: apps/vk-connector/Dockerfile
    container_name: vk-connector
    environment:
      - NODE_ENV=production
      - PORT=3000
      - HOST=0.0.0.0
    env_file:
      - .env
    volumes:
      - ./logs:/app/logs
    restart: unless-stopped
    ports:
      - "3000:3000"